.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 1.5rem;
  color: $text;
  font-size: 15px;
  font-weight: 600;
  font-family: $text-font;
  letter-spacing: .8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 2px;
  transition: all .3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(255,255,255,0.225);
  background-color: $primary;

  &:hover { text-decoration: none; box-shadow: 0 4px 10px 0px rgba(255,255,255,0.225); }

  &--secondary {
    background-color: $secondary;
  }

  &--accent {
    background-color: $accent;
  }

  &--large {
    font-size: 130%;
    padding: .7rem 1rem;
  }
}
