// Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto&display=swap');

// Icon pack of populair development logos
@import './devicon.css';
@import './devicon-colors.css';

// Syntax higlight code blocks
@import './prism-vsc-dark-plus.css';

@import './variables';
@import './buttons';

body {
  font-family: 'Roboto', 'sans-serif';
  color: #e2f3f5;
  background: #03090c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

a {
  color: #cdf8ff;
  text-decoration: none;
}

i {
  color: $accent;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.m-0 {
  margin: 0;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}
